@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --bg-color-light: #F3F4F6;
  --bg-color-dark: #000000;

  
  background-color: var(--bg-color-dark);
}

@media (prefers-color-scheme: light) {
  :root {
    
    background-color: var(--bg-color-light);
  }
}

/* Add this CSS to your styles */
.hide-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
